fieldset {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: var(--base-padding);
}

.folder-selection {
    border: 0;
    background: transparent;
    border-radius: 10px;
    box-shadow: 0 0;
}

.folder-selection::file-selector-button {
    font-weight: bold;
    color: var(--secondary);
    background: var(--primary);
    padding: 0.5em;
    width: 100%;
    border: 1px solid var(--primary);
    border-radius: 3px;
    transition: border 0.2s;
}

.folder-selection::file-selector-button:hover {
    border: 1px solid var(--quaternary);
    background: #C5A713FF;
}

.folder-selection {
    color: transparent;
}